/* Styles Mobile */
html {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0px;
  padding: 0px;
}

body {
  color: white;
  background-color: black;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.containerCharacterStats {
  display: block;
  position: relative;
  height: 15vh;
  width: 100vw;
  background-color: black;
  color: white;
  box-sizing: border-box;
}

#currentLevel {
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 30vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 5rem;
  font-style: italic;
  font-weight: bolder;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  box-sizing: border-box;
}
#levelUpButton {
  all: unset;
  position: absolute;
  bottom: 0vh;
  left: 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5vh;
  width: 30vw;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  background-color: black;
  color: white;
  box-sizing: border-box;
}

#levelUpExperienceBar {
  position: absolute;
  top: 0vh;
  right: 0vw;
  width: 70vw;
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  padding: 2px;
  box-sizing: border-box;
}
#levelUpExperienceBarFillingUp {
  width: 0%;
  height: 4, 5vh;
  background-color: white;
  box-sizing: border-box;
}
#containerLevelUpCurrentExperience {
  position: absolute;
  top: 5vh;
  left: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 4.5vh;
  width: 35vw;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  background-color: black;
  color: white;
  box-sizing: border-box;
  font-size: 1rem;
}
#containerLevelUpRequiredExperience {
  position: absolute;
  top: 5vh;
  right: 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 4.5vh;
  width: 35vw;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  background-color: black;
  color: white;
  box-sizing: border-box;
  font-size: 1rem;
}

/* Monster Combat Area Styles For Mobile */

#monsterCombatArea {
  position: relative;
  top: 0vh;
  left: 0vw;
  display: flex;
  flex-direction: column;
}
.nowUnlocked {
  display: flex;
}
.notUnlocked {
  display: none;
}
.monsterContainer {
  overflow: hidden;
  position: relative;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  height: 24vh;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0.5rem;
  border-color: grey;
}
.monsterStats {
  box-sizing: border-box;
  position: absolute;
  right: 0vh;
  top: 0vh;

  width: 58vw;
  height: 23vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2vh;
  border: 0.5vh solid white;
}

.containerMonsterAll {
  box-sizing: border-box;
  position: absolute;
  left: 0vw;
  top: 0vh;
  display: flex;
  height: 16vh;
  width: 40vw;
  padding: 0 5vw 0 5%;
  overflow: hidden;
  border: 0.5rem solid white;
}
.monsterAll {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 16vh;
  width: 100%;
  height: 100%;
}
.btnMonsterFight {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  left: 0vw;
  bottom: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 7vh;
  font-size: 5vh;
  border: solid white 0.5rem;
}

/* Fin de Styles Mobile */
