@font-face {
  font-family: "vt323regular";
  src: url("../vt323-regular-webfont.woff2") format("woff2"),
    url("../vt323-regular-webfont.woff") format("woff"),
    url("https://scriptmasson.github.io/PORTFOLIO/vt323-regular-webfont.woff2")
      format("woff2"),
    url("https://scriptmasson.github.io/PORTFOLIO/vt323-regular-webfont.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
}

/* Styles Mobile */
html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "vt323regular", sans-serif, monospace;
  color: white;
  background-color: black;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#containerCharacterStats {
  display: block;
  position: sticky;
  top: 0vh;
  left: 0vw;
  height: 15vh;
  width: 100vw;
  background-color: black;
  color: white;
  box-sizing: border-box;
  z-index: 10;
}

#currentLevel {
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 30vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 3rem;
  font-style: italic;
  font-weight: bolder;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  box-sizing: border-box;
}
#levelUpButton {
  all: unset;
  position: absolute;
  bottom: 0vh;
  left: 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5vh;
  width: 30vw;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  background-color: black;
  color: white;
  box-sizing: border-box;
  font-size: 1rem;
}

#levelUpExperienceBar {
  position: absolute;
  top: 0vh;
  right: 0vw;
  width: 70vw;
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  box-sizing: border-box;
}
#levelUpExperienceBarFillingUp {
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 0%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
}
#containerLevelUpCurrentExperience {
  position: absolute;
  top: 5vh;
  left: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 4.5vh;
  width: 35vw;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  background-color: black;
  color: white;
  box-sizing: border-box;
  font-size: 65%;
}
#containerLevelUpRequiredExperience {
  position: absolute;
  top: 5vh;
  right: 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 4.5vh;
  width: 35vw;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  background-color: black;
  color: white;
  box-sizing: border-box;
  font-size: 65%;
}
#infoForExpGainContainer {
  position: relative;
  top: 0%;
  height: 5.5vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#infoForExpGain {
  font-size: 50%;
  margin-left: 1rem;
}

/* Monster Combat Area Styles For Mobile */

#monsterCombatArea {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  top: 0vh;
  left: 0vw;
  flex-direction: column;
}
.nowUnlocked {
  display: flex;
}
.notUnlocked {
  display: none;
}
.monsterContainer {
  overflow: hidden;
  position: relative;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  height: 24vh;
  box-sizing: border-box;
  border-style: solid;
  border-width: thick;
  border-color: grey;
}
.monsterStats {
  box-sizing: border-box;
  position: absolute;
  right: 0vh;
  top: 0vh;
  width: 58vw;
  height: 23vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-width: thick;
  border-color: white;
  font-size: 120%;
  padding: 5%;
}

.containerMonsterAll {
  box-sizing: border-box;
  position: absolute;
  left: 0vw;
  top: 0vh;
  display: flex;
  height: 16vh;
  width: 40vw;
  padding: 0 5vw 0 5%;
  overflow: hidden;
  border-style: solid;
  border-width: thick;
  border-color: white;
}
.monsterAll {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 500%;
  width: 100%;
  height: 100%;
}
.btnMonsterFight {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  left: 0vw;
  bottom: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 7vh;
  font-size: 5vh;
  border-style: solid;
  border-width: thick;
  border-color: white;
}
.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

.monsterB {
  color: rgb(32, 0, 92);
}
.monsterC {
  color: rgb(145, 0, 150);
}
.monsterD {
  color: rgb(133, 0, 0);
}
.monsterE {
  color: rgb(168, 76, 0);
}
.monsterF {
  color: rgb(255, 224, 87);
}
.monsterG {
  color: rgb(0, 88, 0);
}
.monsterH {
  color: rgb(0, 217, 255);
}
.monsterI {
  color: rgb(47, 0, 255);
}
.monsterJ {
  color: rgb(255, 0, 234);
}
.monsterK {
  color: rgb(255, 17, 0);
}
.monsterL {
  color: rgb(255, 145, 0);
}
.monsterM {
  color: rgb(255, 238, 0);
}
.monsterN {
  color: rgb(81, 255, 0);
}
.monsterO {
  color: rgb(0, 114, 129);
}
.monsterP {
  color: rgb(27, 0, 77);
}
.monsterQ {
  color: rgb(53, 0, 46);
}
.monsterR {
  color: rgb(131, 71, 71);
}
.monsterS {
  color: rgb(158, 100, 73);
}
.monsterT {
  color: rgb(137, 156, 158);
}
.monsterU {
  color: rgb(190, 165, 22);
}
.monsterV {
  color: rgb(21, 255, 0);
}
.monsterW {
  color: rgb(0, 204, 255);
}
.monsterX {
  color: rgb(47, 0, 255);
}
.monsterY {
  color: rgb(255, 0, 0);
}
.monsterZ {
  color: rgb(255, 251, 0);
}

#saveContainer {
  width: 70vw;
  height: 5.5vh;
  position: absolute;
  bottom: 0vh;
  right: 0vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#btnSave {
  border: 2px white solid;
  border-right: 0px;
}
#spanSave {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  /* only specify "height: 100%" and maintain "aspect-ratio: 1 / 1;" to keep it square while filling the height!!!! */
  height: 100%;
  /* apsect ratio works like: (width or X) / (height or Y) */
  aspect-ratio: 1 / 1;
  border: 2px white solid;
  border-left: 0px;
  font-size: 100%;
}
.saveFooterContainedButton {
  box-sizing: border-box;
  /* only specify "height: 100%" and maintain "aspect-ratio: 1 / 1;" to keep it square while filling the height!!!! */
  height: 100%;
  aspect-ratio: 1 / 1;
}

#coinsBonusBoutique {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  top: 0vh;
  left: 0vw;

  flex-direction: column;
}
#imgCoins {
  margin-left: 1%;
  height: 32px;
  aspect-ratio: 1 / 1;
}
#currentCoins {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  aspect-ratio: 3 / 1;
  margin-left: 1%;
}
#btnBonusBoutique {
  aspect-ratio: 2 / 1;
}
.openFlex {
  display: flex;
}
.closed {
  display: none;
}
#btnReturn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0%;
  left: 0%;
  padding: 1%;
  border: white 4px solid;
  box-sizing: border-box;
}
#btnReturn > span {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 1%;
  border-right: white 4px solid;
  box-sizing: border-box;
  width: calc(20vw + 4px);
}

.containerForAllUpgrades {
  display: flex;
  height: 10vh;
  width: 100vw;
}
.allButtonsForUpgrades {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1 / 1;
  font-size: 6vh;
  border: white solid 4px;
  box-sizing: border-box;
}
.allSpansForUpgrades {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 70%;
  padding: 0.5vh;
  box-sizing: border-box;
  border: white solid 4px;
}

/* Fin de Styles Mobile */
